/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
    font-family: Roboto;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-family: Playfair Display;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

.background {
    background-color: rgb(46, 144, 205);
    height: 350px;
    width: 130%;
    z-index: -1;
    transform: rotate(-10deg);
    transform-origin: bottom;
    position: absolute;
    overflow: hidden;
}
.background-helper {
    background-color: rgb(46, 144, 205);
    height: 150px;
    width: 100%;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}

header {
    display: flex;
    padding: 30px;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    min-width: 450px;
    max-height: 350px;
    object-fit: cover;
}

.image-label {
    position: absolute;
    top: 290px;
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

.about-me-card {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    max-height: 300px;
    padding: 20px;
    margin-top: 25px;
}

.about-me-header {
    margin-bottom: 10px
}

.about-me-description {
    margin-bottom: 20px;
}

.socials {
    display: grid;
    grid: 20px / repeat(3, 20px);
    gap: 5px;
    margin-left: auto;
    margin-right: 15px;
}

.devicon-github-original {
    justify-self: center;
    align-self: center;
}

.linkedin-icon {
    max-width: 20px;
    max-height: 20px;
}

.devicon-twitter-original {
    justify-self: center;
    align-self: center;
}

main {
    padding: 40px;
    
}

.project-cards {
    display: grid;
    grid: repeat(2,350px) / repeat(3,250px);
    gap: 50px;
}

.project-card {
    max-width: 250px;
    min-height: 350px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.project-picture {
    max-width: 250px;
    min-height: 200px;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}

#project-one {
    background: darkred;
}

#project-two {
    background: turquoise;
}

#project-three {
    background: green;
}

#project-four {
    background: hotpink;
}

#project-five {
    background: orange;
}

#project-six {
    background: orangered;
}

.project-screenshot {
    color: white;
    font-weight: 100;
}

.project-info {
    padding: 20px;
}

.project-header {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.project-sources {
    display: flex;
    align-items: center;
}

.open-icon {
    max-width: 20px;
    max-height: 20px;
    margin-left: 5px;
}          

footer {
    background-color: rgb(46, 144, 205);
    display: flex;
    padding: 50px;
    color: whitesmoke;
    margin-top: 50px;
    width: 100%;
    justify-content: space-around;
}

.contact-info {
    max-width: 330px;
}

.contact-info-header {
    margin-bottom: 5px;
    font-family: Playfair Display;
}

.footer-message {
    margin-bottom: 20px;
}

.address {
    margin-bottom: 20px;
}

.phone-number {
    display: flex;
}

.phone-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
}

.email {
    display: flex;
}

.email-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
}

.footer-socials {
    display: grid;
    grid: 20px / repeat(3, 20px);
    gap: 5px;
    margin-top: 15px;
}

.footer-image-container {
    display: flex;
    align-items: center;
}

.footer-image {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}


@media (min-width: 871px) {
    header {
        display: flex;
        padding: 30px;
    }
}


@media (max-width: 900px) {
    header {
        flex-direction: column;
    }
    
    .project-cards {
        display: grid;
        grid: repeat(3,350px) / repeat(2,250px);
        gap: 30px;
    }
    .about-me-card {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        max-width: 500px;
        max-height: 500px;
        padding: 20px;
        margin-top: 25px;
    }

    .footer-image-container {
        object-position: center top;
    }

    .footer-image {
        width: 300px;
        height: 350px;
        object-fit: cover;
        object-position: center 30% top;
    }
}


@media (max-width: 650px) {
    .picture {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    .headshot{
        min-width: 200px;
        max-height: 350px;
        object-fit: cover;
    }

    .image-label {
        position: relative;
        margin-top: auto;
        font-size: 40px;
        color: whitesmoke;
        text-shadow: 0px 0px 7px rgba(0,0,0,0.5);
        width: 200px;
        height: 10px;
        text-align: center;
        top: -120px;
    }
    
    .about-me-card {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        max-width: 500px;
        max-height: 500px;
        padding: 20px;
        margin-top: 25px;
    }
    
    .project-cards {
        display: grid;
        grid: repeat(6,350px) / repeat(1,250px);
        gap: 20px;
    }

    footer {
        flex-direction: column;
        
        width: 100%;
        align-items: center;
        padding: 0px;
        padding-top: 40px;
        
    }

    .contact-info-header {
        text-align: center;
    }

    .footer-message {
        text-align: center;
    }

    .address {
        text-align: center;
    }

    .phone-number {
        display: flex;
        justify-content: center;
    }

    .email {
        display: flex;
        justify-content: center;
    }

    .footer-socials {
        display: flex;
        justify-content: center;
    }

    .footer-image-container {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    .footer-image {
        width: 100%;
        height: 350px;
        object-fit: cover;
        
    }

}
